.gallery-nav-link {
  margin: 15px auto 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 15px auto 0;
  max-width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  max-width: 360px;
}

.gallery-item:hover {
  transform: scale(1.025);
}
