.pixabay-form {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 7px 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
}

/* .gallery-item-img {
  width: 350px;
  height: 250px;
} */
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery-item {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #ddd;
}

.image-info {
  background: #fff;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.image-info p {
  margin: 5px 0;
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #6163dd transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
