.form {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 7px 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  margin: 200px auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='number'] {
  background-color: transparent;
  text-align: center;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input[type='number']:focus {
  border-color: #007bff;
  outline: none;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
