.timer-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 200px auto 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.home-btn {
  background-color: #3b82f6;
  max-width: 95px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-btn:hover,
.home-btn:focus {
  background-color: #2563eb;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

#datetime-picker {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: transparent;
}

#datetime-picker:disabled {
  border: 2px solid #91c1f5;
}

button[data-start] {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

button[data-stop] {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button[data-start]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[data-stop]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(223, 219, 219);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 80px;
}

.value {
  font-size: 36px;
  color: #007bff;
}

.label {
  font-size: 14px;
  color: #555;
}
